ret2win/armv5/flag.txt
ret2win/armv5/ret2win_armv5
ret2win/mipsel/flag.txt
ret2win/mipsel/ret2win_mipsel
ret2win/x86/flag.txt
ret2win/x86/ret2win32
ret2win/x86_64/flag.txt
ret2win/x86_64/ret2win

split/armv5/flag.txt
split/armv5/split_armv5
split/mipsel/flag.txt
split/mipsel/split_mipsel
split/x86/flag.txt
split/x86/split32
split/x86_64/flag.txt
split/x86_64/split

callme/armv5/callme_armv5
callme/armv5/callme_armv5-hf
callme/armv5/encrypted_flag.dat
callme/armv5/key1.dat
callme/armv5/key2.dat
callme/armv5/libcallme_armv5-hf.so
callme/armv5/libcallme_armv5.so
callme/mipsel/callme_mipsel
callme/mipsel/encrypted_flag.dat
callme/mipsel/key1.dat
callme/mipsel/key2.dat
callme/mipsel/libcallme_mipsel.so
callme/x86/callme32
callme/x86/encrypted_flag.dat
callme/x86/key1.dat
callme/x86/key2.dat
callme/x86/libcallme32.so
callme/x86_64/callme
callme/x86_64/encrypted_flag.dat
callme/x86_64/key1.dat
callme/x86_64/key2.dat
callme/x86_64/libcallme.so

write4/armv5/flag.txt
write4/armv5/libwrite4_armv5-hf.so
write4/armv5/libwrite4_armv5.so
write4/armv5/write4_armv5
write4/armv5/write4_armv5-hf
write4/mipsel/flag.txt
write4/mipsel/libwrite4_mipsel.so
write4/mipsel/write4_mipsel
write4/x86/flag.txt
write4/x86/libwrite432.so
write4/x86/write432
write4/x86_64/flag.txt
write4/x86_64/libwrite4.so
write4/x86_64/write4

badchars/armv5/badchars_armv5
badchars/armv5/badchars_armv5-hf
badchars/armv5/flag.txt
badchars/armv5/libbadchars_armv5-hf.so
badchars/armv5/libbadchars_armv5.so
badchars/mipsel/badchars_mipsel
badchars/mipsel/flag.txt
badchars/mipsel/libbadchars_mipsel.so
badchars/x86/badchars32
badchars/x86/flag.txt
badchars/x86/libbadchars32.so
badchars/x86_64/badchars
badchars/x86_64/flag.txt
badchars/x86_64/libbadchars.so

fluff/armv5/flag.txt
fluff/armv5/fluff_armv5
fluff/armv5/fluff_armv5-hf
fluff/armv5/libfluff_armv5-hf.so
fluff/armv5/libfluff_armv5.so
fluff/mipsel/flag.txt
fluff/mipsel/fluff_mipsel
fluff/mipsel/libfluff_mipsel.so
fluff/x86/flag.txt
fluff/x86/fluff32
fluff/x86/libfluff32.so
fluff/x86_64/flag.txt
fluff/x86_64/fluff
fluff/x86_64/libfluff.so

pivot/armv5/flag.txt
pivot/armv5/libpivot_armv5-hf.so
pivot/armv5/libpivot_armv5.so
pivot/armv5/pivot_armv5
pivot/armv5/pivot_armv5-hf
pivot/mipsel/flag.txt
pivot/mipsel/libpivot_mipsel.so
pivot/mipsel/pivot_mipsel
pivot/x86/flag.txt
pivot/x86/libpivot32.so
pivot/x86/pivot32
pivot/x86_64/flag.txt
pivot/x86_64/libpivot.so
pivot/x86_64/pivot

ret2csu/armv5/encrypted_flag.dat
ret2csu/armv5/key.dat
ret2csu/armv5/libret2csu_armv5-hf.so
ret2csu/armv5/libret2csu_armv5.so
ret2csu/armv5/ret2csu_armv5
ret2csu/armv5/ret2csu_armv5-hf
ret2csu/mipsel/encrypted_flag.dat
ret2csu/mipsel/key.dat
ret2csu/mipsel/libret2csu_mipsel.so
ret2csu/mipsel/ret2csu_mipsel
ret2csu/x86_64/encrypted_flag.dat
ret2csu/x86_64/key.dat
ret2csu/x86_64/libret2csu.so
ret2csu/x86_64/ret2csu
